{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"endOfLine": "lf",
	"singleQuote": false,
	"quoteProps": "consistent",
	"semi": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto"
}
